.component {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 200px;

  table {
    border-collapse: collapse;
    justify-self: center;

    thead {
      border-bottom: 1px solid #5B5B5B;

      th {
        font-weight: 300;
        font-size: 14px;
        padding: 0 65px 8px 65px;
      }
    }

    .tableRow {
      border-bottom: 1px solid #5B5B5B;

      td {
        font-weight: 300;
        font-size: 24px;
        padding: 11px 65px;
      }
    }

    tbody {
      .processNameContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 30px 10px 20px;
        background-color: #94CE87;
        border-radius: 100px;
        font-weight: 500;

        .icons {
          display: flex;
          gap: 10px;
        }

        svg {
          cursor: pointer;
        }

        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }

      select {
        background-color: #F2F2F2;
        border-radius: 100px;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
        padding: 8px;
        width: 215px;

        // adding two arrows to the right and to the left in the selector 
        background-image: url('../../assets/icons/person.svg'), url('../../assets/icons/arrowForSelect.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: 0.5rem center, calc(100% - 0.75rem) center;
        padding-left: 2rem;
      }
    }
  }

  .addFirstLevelProcess {
    width: 260px;
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    transition: color 0.1s linear;
    
    span {
      font-weight: 300;
      font-size: 18px;
      margin-right: 10px;
      transition: color 0.1s linear;
    }

    &:hover {
      color: #646464;
      transition: 0.1s linear;
    }
  }
}