.component {

  .logo {
    margin: 46px 0 30px 46px;    
  }

  hr {
    margin: 0 100px;
    height: 2px;
    background-color: #5B5B5B;
  }

  main {
    margin-top: 35px;
    position: relative;

    .content {
      display: flex;
      flex-direction: column;
      gap: 168px;
      padding: 0 100px 0 150px;

      .description {
        display: flex;
        justify-content: center;
        gap: 60px;
  
        .leftSide {
          display: flex;
          flex-direction: column;
          gap: 40px;
  
          h1 {
            font-weight: 600;
            font-size: 82px;
            line-height: 95px;
            max-width: 430px;
          }
      
          p {
            font-size: 32px;
            font-weight: 300;
            max-width: 280px;
            line-height: 37.5px;
          }
        }
      }
    }

    .structure {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 216px;
      height: 100%;
      width: 82px;
      padding-top: 20px;
      background-color: #94CE87;
      border-top-right-radius: 15px;
    }
  }
}
